<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.puppetmaster.vokabeltrainer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <receiver android:name=".SpacedRepititionSystem.DeviceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".SpacedRepititionSystem.AlarmReceiver" />

        <activity
            android:name=".Activities.StartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.UnitsActivity"
            android:label="@string/title_activity_units"
            android:parentActivityName=".Activities.StartActivity"/>
        <activity android:name=".Activities.SRSTesterActivity" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".Activities.StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.puppetmaster.vokabeltrainer.Activities.StartActivity" />
        </activity>
        <activity
            android:name=".Activities.AllVocabsActivity"
            android:parentActivityName=".Activities.StartActivity" />
        <activity android:name=".Activities.ExerciseActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>