<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.puppetmaster.vokabeltrainer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <receiver android:name=".SpacedRepititionSystem.DeviceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".SpacedRepititionSystem.AlarmReceiver" />

        <activity
            android:name=".Activities.StartScreen"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <activity
            android:name=".Activities.LearnActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.UnitsActivity"
            android:label="@string/title_activity_units"
            android:parentActivityName=".Activities.StartScreen"/>
        <activity android:name=".Activities.SRSTesterActivity" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".Activities.StartScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.puppetmaster.vokabeltrainer.Activities.StartScreen" />
        </activity>
        <activity
            android:name=".Activities.AllVocabsActivity"
            android:parentActivityName=".Activities.StartScreen" />
        <activity android:name=".Activities.ExerciseActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <activity
            android:name=".Introduction.FirstName"
            android:theme="@style/AppTheme.NoActionBar">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Introduction.SecondIntroMotivation1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Introduction.ThirdMotivationText"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Introduction.FourthImages"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Introduction.FifthSettings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Introduction.SixthExplanation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
        android:name=".Introduction.ImageDetailsActivity"
        android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>